<ion-header>
    <ion-toolbar>
      <ion-title>New Rental</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>

    <ion-item>
      <ion-input type="text" [(ngModel)]="name" placeholder="Name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="text" [(ngModel)]="location" placeholder="Location"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="text" [(ngModel)]="price" placeholder="Price"></ion-input>
    </ion-item>
  
    <ion-button color="primary" expand="block" (click) = "createRental()">Create</ion-button>
  </ion-content>
  
