<ion-header>
    <ion-toolbar>
      <ion-title>New Rental</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>

    <ion-item>
      <ion-input type="text" [(ngModel)]="title" placeholder="Title"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="text" [(ngModel)]="location" placeholder="Location"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="number" [(ngModel)]="numberOfPeople" placeholder="Number Of People"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="number" [(ngModel)]="pricePerNight" placeholder="Price Per Night"></ion-input>
    </ion-item>

    <ion-item>
        <ion-textarea rows="10" type="text" [(ngModel)]="description" placeholder="Description"></ion-textarea>
      </ion-item>
  
    <ion-button color="primary" expand="block" (click) = "createListing()">Create</ion-button>
  </ion-content>