<ion-header>
  <ion-toolbar>
    <ion-title>
      Listings
    </ion-title>
    <ion-button slot="end" fill="clear" size="large" (click) = "navToProfile()">
      <ion-icon name="contact"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-fab vertical="top" horizontal="end" slot="fixed">
        <ion-fab-button (click) = "navToNewListing()">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

  <ion-list *ngFor="let listing of listings let i=index;" (click)="navigateToViewDetails(i,listing);"> 
    <ion-item text-wrap>
      <ion-label>Title: {{listing.title}}</ion-label>
      <ion-label>Location: {{listing.location}}</ion-label>
    </ion-item>
  </ion-list> 
</ion-content>