<ion-header>
  <ion-toolbar>
    <ion-title>Welcome Back!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="loginForm">
  <ion-item>
    <ion-input type="text" formControlName="email" placeholder="Username or Email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="password" formControlName="password" placeholder="Password"></ion-input>
  </ion-item>

  <ion-button 
    color="primary" 
    expand="block" 
    [disabled]="!loginForm.valid" 
    (click) = "navToHome()">Login</ion-button>

    <ion-button 
    color="primary" 
    expand="block" 
    (click) = "navToRegister()">Register</ion-button>

</form>
</ion-content>
