<ion-header>
  <ion-toolbar>
    <ion-title>Welcome Back!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-input type="text" [(ngModel)]="email" placeholder="Email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="password" [(ngModel)]="password" placeholder="Password"></ion-input>
  </ion-item>

  <ion-button 
    color="primary" 
    expand="block" 
    (click) = "checkLogin()">Login</ion-button>

    <ion-button 
    color="primary" 
    expand="block" 
    (click) = "navToRegister()">Register</ion-button>
</ion-content>
