<h3>Bookings</h3>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>ID</th>
        <th>Listing ID</th>
        <th>User ID</th>
        <th>Status</th>
        <th>Start Date</th>
        <th>End Date</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-row" *ngFor="let booking of bookings" contenteditable="true">
        <td>{{booking.id}}</td>
        <td>{{booking.listingId}}</td>
        <td>{{booking.userId}}</td>
        <td>{{booking.status}}</td>
        <td>{{booking.dateStart}}</td>
        <td>{{booking.dateEnd}}</td>
      </tr>
    </tbody>
  </table>
</div>