<ion-header>
    <ion-toolbar>
      <ion-title>
        Bookings
      </ion-title>
      <ion-button slot="start" fill="clear" size="large" (click) = "navToDetails()">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-list *ngFor="let booking of bookings"> 
      <ion-item class="item item-text-wrap">
        <ion-label>Start Date: {{booking.dateStart}}</ion-label>
        <ion-label>End Date: {{booking.dateEnd}}</ion-label>
        <ion-label>{{booking.status}}</ion-label>
        <ion-button slot="end" *ngIf='booking.status == showButtons' (click) = "acceptButton(booking)">Accept</ion-button>
        <ion-button slot="end" *ngIf='booking.status == showButtons' (click) = "rejectButton(booking)">Reject</ion-button>
      </ion-item>
    </ion-list> 
  </ion-content>