<ion-header>
    <ion-toolbar>
      <ion-title>
        Bookings
      </ion-title>
      <ion-button slot="start" fill="clear" size="large" (click) = "navToDetails()">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-list *ngFor="let booking of bookings let i=index"> 
      <ion-card>
        <ion-card-title>
          Booking #{{booking.id}}<br>
          Dates: From {{booking.dateStart}} to {{booking.dateEnd}}
        </ion-card-title>
        <ion-card-subtitle>Status: {{booking.status}}</ion-card-subtitle>
        <ion-button color=success *ngIf='booking.status == showButtons' (click) = "acceptButton(booking)">Accept</ion-button>
        <ion-button color=danger *ngIf='booking.status == showButtons' (click) = "rejectButton(booking)">Reject</ion-button>
    </ion-card>
    </ion-list> 
  </ion-content>